body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
}

body p {
    margin: 0;
    padding: 0;
}

@media screen and (min-device-width: 800px) and (min-device-height: 600px){ /* Desktop */
    p {
        color: #000;
    }
}